.table__title {
  font-size: 1.8rem;
  font-family: "Verdana Neue", Geneva, Tahoma, sans-serif;
}

.left-button {
  display: flex;
  flex-direction: row-reverse;
  margin: 1.2rem 0;
}

.MuiDialog-paper {
  background: white;
}
